.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #101026;
    flex-direction: column;
  }
  
  .text {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
  }
  
  .paragrafo{
    color: white;
    margin-bottom: 50px;
  
  }
  
  .btn{
    padding: 15px 55px;
    background: white;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.5s;
  
  }
  
  .btn:hover {
    border-radius: 16px;
  }