
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&display=swap');

@import "compass/css3";

@import "compass/utilities/general/clearfix";
  *, :before, *:after 

{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 


:root {
    --text-color: white;
    --bg-url: linear-gradient(150deg, rgb(110, 110, 110) 1%, rgb(22, 22, 22) 99%);
    --stroke-color: rgba(255, 255, 255, 0.5); 
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./img/moon-stars.svg); 
}

.light {
    --text-color: black;
    --bg-url: linear-gradient(150deg, rgb(255, 255, 255) 1%, rgb(202, 202, 202) 99%);;
    --stroke-color: rgba(0, 0, 0, 0.5); 
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);    
    --highlight-color: rgba(0, 0, 0, 0.2); 
    --switch-bg-url: url(./img/sun.svg);    

}
body{
    background: var(--bg-url); 
}
body *  
{ 
    color: var(--text-color);
}

#trabalho{
    display: flex;
    place-items: center;
    place-content: center;
    padding: 5%;
}
.outer-wrapper {
    width: 80%;
    margin: 50px auto;
  }
  
  .s-wrap {
    
    border: 1px solid black;
    width: 45%;
    margin-bottom: 50px;
    padding-bottom: 45%;
    position: relative;
    border: 10px solid #fff;
    background-color: #efefe8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .s-wrap > input {
    display: none;
  }
  .s-wrap .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    list-style: none;
    transition: transform 1s;
  }
  .s-wrap .s-item {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .s-wrap .s-item-1 {
    background-image: url("./img/img1.png");
  }
  .s-wrap .s-item-2 {
    background-image: url("./img/img2.png");
  }
  .s-wrap .s-item-3 {
    background-image: url("./img/img3.png");
  }
  .s-wrap .s-item-4 {
    background-image: url("./img/img4.png");
  }
  .s-wrap .s-item-5 {
    background-image: url("./img/img5.png");
  }
  .s-wrap .s-item-6 {
    background-image: url("./img/img6.png");
  }
  .s-wrap .s-item-7 {
    background-image: url("./img/img7.png");
  }
  .s-wrap .s-item-8 {
    background-image: url("./img/img8.png");
  }
  .s-wrap .s-item-9 {
    background-image: url("./img/img9.png");
  }
  .s-wrap .s-item-10 {
    background-image: url("./img/img10.png");
  }
  .s-wrap .s-item-11 {
    background-image: url("./img/img11.png");
  }
  .s-wrap .s-item-12 {
    background-image: url("./img/img12.png");
  }
  .s-wrap .s-item-13 {
    background-image: url("./img/img13.png");
  }
  .s-wrap .s-item-14 {
    background-image: url("./img/img14.png");
  }
  .s-wrap .s-item-15 {
    background-image: url("./img/img15.png");
  }
  .s-wrap .s-item-16 {
    background-image: url("./img/img16.png");
  }
  .s-wrap .s-item-17 {
    background-image: url("./img/img17.png");
  }
  .s-wrap .s-item-18 {
    background-image: url("./img/img18.png");
  }
  .s-wrap .s-item-19 {
    background-image: url("./img/img19.png");
  }
  .s-wrap .s-item-20 {
    background-image: url("./img/img20.png");
  }
  
  
#topo {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 1.2%;
}

#topo span {
    font-size: 39px;
    text-decoration: inherit;
    display: inline;
    font-family: 'Crimson Text', serif;
}
#mr {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 68px;

}
#mra {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 12px; 
}
#vertical {
    width: 100%;
    float: none;
    height: auto;
}


.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%; 
    width: 100%;  

}


.navMenu a:last-child {
    border-right: none;
  
}
.navMenu a {
  text-align: center;
  border-right: 1px solid var(--text-color);
  padding-bottom: 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  width: 200px;
  height: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  
}

.navMenu a:hover {
  color: #f8d214;
}


/*.navMenu .dots {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
*/

#switch {
    position: relative;
    left: 42%;
    right: auto;
    bottom: 100px;
    width: 50px;
    margin: 4px auto;
}

#switch button {
width: 24px;
height: 24px;
background: white var(--switch-bg-url) no-repeat center;

border: 1px solid gray;
border-radius: 50%;
position: absolute;
top: 50%;
left: 0;
z-index: 99;
transform: translateY(-50%);


}

.light #switch button {
    right: 0;
    left: initial;

}
#switch span {
    display: block;
    width: 48   px;
    height: 18px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

}
 
#corpo {
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
    min-height: 50vh;
    margin: 0 0 0 0;
    padding: 5% 0 0 0;
        
}

figure {
    display: grid;
    place-items: center;
    place-content: center;
}

#corpo span {
padding: 35px 60px 35px 60px;
width: auto;
display: flex;
place-items: center; 
place-content: center;
}

#corpo img{
    height: auto;
    width: 100%;

    border-radius: 2%;
    border: 1px solid var(--stroke-color);
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 10%)); 
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 50%));
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.texto1 h1  {
    width: 100%;
    height: auto;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    place-items: center;
    place-content: center;
    padding: 0 5%;
    
    }
.p1{
padding: 0 5%;
font-size: 1rem;    
}
#trabalhos{
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
  max-width: 600px;
  margin: 0 auto 5%;
  padding: 20px 0;
}  
#trabalho {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: 13%;
  }
  
  .s-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;

  }
  
  .s-item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .left-control,
  .right-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
    z-index: 10;
  }
  
  .left-control {
    left: 0;
  }
  
  .right-control {
    right: 0;
  }
  
  .left-control::before,
  .right-control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  
  .right-control::before {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  @media (max-width: 768px){
    #trabalhos{
        padding: 10px;
    }
    #trabalho {
        height: 300px;
    }
  }
  
  #trabalho:hover .left-control,
  #trabalho:hover .right-control {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #trabalho:hover .left-control:hover::before,
  #trabalho:hover .right-control:hover::before {
    border-color: #fff;
  }
  
  #trabalho:hover .left-control:hover,
  #trabalho:hover .right-control:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
/*.carrusel {
    height: 95vh;
    display: flex;
    align-items: center;
  }
  
  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
  }
  
  .carrusel-item {
    min-width: 350px;
    max-width: 350px;
    height: 350px;
    cursor: pointer;
    margin: 0 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carrusel-item:hover {
    transform: scale(1.2);
  }
*/
.texto2  {
    width: 100%;
    height: auto;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    place-items: center;
    place-content: center;
    padding: 2% 5%;
    
    }
    
.texto2 span  {
    width: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    padding: 20px;
    
    }


#sobre {
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
    height: auto;
    margin: 0 0 5% 0;
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 2% 0 6%;
 
        
 
}

.texto3  {
    width: 100%;
    height: auto;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    place-items: center;
    place-content: center;
    padding: 0 2%;
    
    }
    
p {
   font-size: 1rem; 
   padding: 3% 3%;
    
}
#orcamento {
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
    height: auto;
    display: flex;
    place-items: center;
    justify-content: center;
    margin-bottom: 5%;
 
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    border-radius:16px ;
    background: rgb(51, 51, 51);
    width: 350px;
    height: 685px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
section h2 {
    color: white;
    font-size: 2rem;
    margin: 2rem;
}
section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section label {
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 12px;
    transition: all 0.5s;

}

form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 12px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 12px;
    background: transparent;
    border: 2px solid white;
    color: antiquewhite;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    border-radius:16px ;

}
.texto4  {
    width: 100%;
    height: auto;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    place-items: center;
    place-content: center;
    padding: 3% 5%;
    
    }
    
.texto4 span  {
    width: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    padding: 20px;
    
    

}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}
#social-links a:hover {
    background-color: var(--highlight-color);
      
}

footer{
    width: auto;
    text-align: center;
    margin-bottom: 50px;
    
}
.box {
    width: 50%;
    margin-left: 50%;
    height: 50px;
    display: inline;
   }

.linha-vertical {
    border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
   }
.float-whatsapp {
    bottom: 55px;
    right: 20px;
    z-index: 999;
    font-size: 40px;
}

.float-whatsapp.float-on {
  position: fixed;
}

.float-whatsapp a {
    background: #008617;
    padding: 10px 20px 10px 15px;
    border-radius: 999px;
    color: #fff;
    text-decoration: none;
}

.float-whatsapp svg {
    height: 50px;
    margin-bottom: -12px;
    margin-left: 5px;
}